@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy na stronie internetowej Biblioteki!</h1>
    <p>Dowiedz się więcej klikając w "Książki" aby zobaczyć listę dostępnych książek.</p>
</div>
